<head>
    <!-- Encoding -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="static/images/favicon.ico" />
    <!-- KCSF Visualizer -->
    <title>KCSF Login</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/kcsf-data-visualizer/static/bootstrap/css/bootstrap4.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/kcsf-data-visualizer/static/css/my-login.css">

    <!-- javascript -->
    <script src="/kcsf-data-visualizer/static/jquery/jquery-3.1.0.js"></script>
    <script src="/kcsf-data-visualizer/static/bootstrap/js/bootstrap4.min.js"></script>
    <script src="/kcsf-data-visualizer/static/js/my-login.js"></script>
    <script src="/kcsf-data-visualizer/static/js/auth.js"></script>
</head>
