<!DOCTYPE html>
<html>
{% include new_header.html %}

<script>
   if(localStorage.getItem('token') != null) {
      window.location.href = "{{ site.basepath }}/dashboard";
   }
</script>
<style>
.hideItem {
	display: none !important;
}
.showItem {
	display: block !important;
}
</style>
<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">

					<div class="brand">
						<a href='{{ site.basepath }}/'><img src="{{ site.basepath }}/static/images/kcsf.png"></a>
					</div>

					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Kyçja</h4>
							<div class="alert alert-success responseMessage hideItem" role="alert"></div>
							<form id="login" class="loginForm">
								<div class="form-group">
									<label for="email">Email Adresa</label>
									<input id="email" type="email" class="form-control" name="email" value="" required autofocus>
								</div>

								<div class="form-group passwordImput">
									<label id="passwordLabel" for="password">Fjalëkalimi</label>
									<input id="password" type="password" class="form-control" name="password" required>
                              <a id="resetPasswordLink" style='margin: 15px 0px;' href="#" class="float-right">
                                 Keni harruar fjalëkalimin!?
                              </a>
								</div>

								<div class="form-group no-margin">
									<button type="button" class="btn btn-primary btn-block loginButton authenticate">
										Kyçu
									</button>
								</div>
								<a style='padding-bottom: 0px;' href="{{ site.basepath }}/" class="btn btn-link text-center btn-block">
									Kthehu në ballinë
								</a>
							</form>

						<!-- reset password -->
							<form id="resetPassword" class="resetPassword hideItem">
								<div class="form-group">
									<label for="emailForgotPassword">Email Adresa</label>
									<input id="emailForgotPassword" type="email" class="form-control" name="email" value="" required autofocus>
								</div>

								<div class="form-group passwordImput">
	                              <a id="goToLoginForm" style='margin: 15px 0px;' href="#" class="float-right">
	                                 Kthehu mbrapa
	                              </a>
								</div>

								<div class="form-group no-margin">
									<button type="button" class="btn btn-primary btn-block resetPasswordButton">
										Dergo kerkesen
									</button>
								</div>
								<a style='padding-bottom: 0px;' href="{{ site.basepath }}/" class="btn btn-link text-center btn-block">
									Kthehu në ballinë
								</a>
							</form>
						<!-- /reset password -->

						</div>
					</div>
					<div class="footer">
						Kosovar Civil Society Foundation
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>
