<!DOCTYPE html>
<html>
{% include reset_password_header.html %}

<script>
   if(localStorage.getItem('token') != null) {
      window.location.href = "{{ site.basepath }}/dashboard";
   }
</script>
<style>
.hideItem {
	display: none !important;
}
.showItem {
	display: block !important;
}
</style>
<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">

					<div class="brand">
						<a href='{{ site.basepath }}/'><img src="{{ site.basepath }}/static/images/kcsf.png"></a>
					</div>

					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Ndryshimi i fjalekalimit</h4>

							<form id="change_password">
								<div class="form-group">
									<label for="password">Fjalekalimi i ri</label>
									<input id="password" type="password" class="form-control" name="newPassword" required autofocus>
								</div>

								<div class="form-group passwordImput">
									<label id="passwordLabel" for="retypePassword">Perserit fjalekalimin</label>
									<input id="retypePassword" type="password" class="form-control" name="retypePassword" required>
								</div>

								<div class="form-group no-margin">
									<button id="submitNewPassword" type="submit" class="btn btn-primary btn-block">
										Ndrysho
									</button>
								</div>
								<a style='padding-bottom: 0px;' href="{{ site.basepath }}/" class="btn btn-link text-center btn-block">
									Kthehu në ballinë
								</a>
							</form>
						</div>
					</div>
					<div class="footer">
						Kosovar Civil Society Foundation
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>
